; config.ini
[DEFAULT]
ruta_mangas = ./static/mngs/

[MANGAS]
listado_mangas = [
        {
            "nombre" : "nombre-manga",
            "url_base" : "https://url.manga/manga/nombre-manga"
        },
        {
            "nombre" : "nombre-manga2",
            "url_base" : "https://url.manga/manga/nombre-manga/"
        }
    ]
    
    