<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Visualizador - {% block title%} {% endblock %}</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bulma.min.css') }}"
    />
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
  </head>
  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
          <img src="{{ url_for('static', filename='images/logo.png') }}">
          <a class="navbar-item {% if url_for(request.endpoint) == '/' %} is-active {% endif %}" href="/">Inicio</a>
          <a class="navbar-item {% if url_for(request.endpoint) == '/todos' %} is-active {% endif %}" href="/todos">Todos</a>
          <a class="navbar-item {% if url_for(request.endpoint) == '/acerca-de' %} is-active {% endif %}" href="/acerca-de">Acerca de...</a>
      </div>
    </nav>
    <div class="content">
      <section class="section">{% block body %} {% endblock %}</section>
    </div>
  </body>
</html>
