{% extends './layout.html' %} {% block title%} {{contenido}} {% endblock %} {%
    block body %}
    <style>
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #0094ff;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
    }

    #myBtn:hover {
            background-color: #555;
    }
    </style>
    <div class="columns">
      <div class="column">{{ contenido | markdown}} <a href="/marcar?pagina={{contenido}}" class="button is-small is-info is-outlined"><span>Marcar como leído</span> &nbsp;<i class="fa fa-external-link-alt"></i></a></div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Subir"><i class="fas fa-chevron-up"></i></button>
    <div class="columns">
      <div class="column text-center">
        <h2>Visualizando {{ listado[pagina]|length }} imágenes</h2>
        {% if (listado|length > 1) %}
            <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
              <ul class="pagination-list">
                {% for page in range(0, listado|length, 1) %}
                {% if pagina == page %}
                  <li><a href="/ver?manga={{contenido}}&page={{page}}" class="pagination-link is-current" aria-label="Goto page {{page}}">{{page + 1}}</a></li>
                {% else %}
                  <li><a href="/ver?manga={{contenido}}&page={{page}}" class="pagination-link" aria-label="Goto page {{page}}">{{page + 1}}</a></li>
                  {%endif%}
                {% endfor %}
              </ul>
            </nav>
        {% endif %}
      </div>
    </div>
    {% for item in listado[pagina] %}
        <div class="columns">
            <div class="column">
                <img src="{{item}}"/>
            </div>
        </div>
    {% endfor %}
    {% if (listado|length > 1) %}
    <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
      <ul class="pagination-list">
        {% for page in range(0, listado|length, 1) %}
        {% if pagina == page %}
          <li><a href="/ver?manga={{contenido}}&page={{page}}" class="pagination-link is-current" aria-label="Goto page {{page}}">{{page + 1}}</a></li>
        {% else %}
          <li><a href="/ver?manga={{contenido}}&page={{page}}" class="pagination-link" aria-label="Goto page {{page}}">{{page + 1}}</a></li>
          {%endif%}
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
    <script>
      //Get the button
      var mybutton = document.getElementById("myBtn");
  
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () { scrollFunction() };
  
      function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
              mybutton.style.display = "block";
          } else {
              mybutton.style.display = "none";
          }
      }
  
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
          window.scroll({
              top: 0,
              left: 0,
              behavior: 'smooth'
          })
      }
  </script>
{% endblock %}